[Unit]
Description=Agent service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/usr/bin
User=root
ExecStart=/usr/bin/agent

[Install]
WantedBy=multi-user.target